<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config">
    <Properties>
        <Property name="basePath">logs</Property>
    </Properties>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="[%p] [%d{yyyy-MM-dd HH:mm:ss} %-26.26c{1.}] %m%n"/>
        </Console>

        <Console name="JDA_CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="[%p] [%d{yyyy-MM-dd HH:mm:ss} %-26.26c{1.}] [JDA] %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="menu" level="info"/>
        <Logger name="net.dv8tion.jda" level="info" additivity="false">
            <AppenderRef ref="JDA_CONSOLE"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>
